/*write by kangpeng*/

.datebox {
    border-radius: 20px;
    background-color: #fff;
}

span.datebox input[type='text'] {
    font-size: 16px;
    color: #2882C0;
    font-family: 微软雅黑;
    padding-top: 0px !important;
    text-align: center;
    cursor: default;
}

/**************************************************************************************/
.dateTimeMove-horizontal-container .control-dateBox {
    margin: auto;
}
.dateTimeMove-horizontal-container i:hover{
    cursor: pointer;
}

.horizontal-control-div {
    position: relative;
    padding: 5px;
    width: 240px;
    float: left;
}

.dateTimeMove-horizontal-container span, dateTimeMove-vertical-container span{
    font-family: 微软雅黑;
    color: #ffffff;
    cursor: default;
}

.horizontal-play, .horizontal-nex, .horizontal-pre {
    float: left;
    width: 70px;
    padding: 5px;
}

.horizontal-play .horizontal-play-div {
    display: block;
    margin: auto;
    width: 38px;
    height: 39px;
    background: url(../icons/bf.png) no-repeat;
}

.horizontal-play .horizontal-pause-div {
    display: block;
    margin: auto;
    width: 38px;
    height: 39px;
    background: url(../icons/zt.png) no-repeat;
}

.horizontal-nex > i {
    display: block;
    margin: auto;
    width: 38px;
    height: 39px;
    background: url(../icons/xyg.png) no-repeat;
}

.horizontal-pre > i {
    display: block;
    margin: auto;
    width: 38px;
    height: 39px;
    background: url(../icons/syg.png) no-repeat;
}

.horizontal-play span, .horizontal-nex span, .horizontal-pre span {
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #0E2E47;
    display: block;
    margin: auto;
    width: 80%;
}

.horizontal-progress-container {
    position: relative;
    float: left;
    height: 100%;
    padding: 10px;
}

.horizontal-progress-bar {
    position: absolute;
    height: 10px;
    border-radius: 5px;
    background-color: #0B2F4F;
}

.horizontal-progress-pointer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    border: none;
    background-color: #ffffff;
}
.horizontal-progress-scale {
    position: absolute;
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: 0;
}

.horizontal-progress-scale li {
    height: 10px;
    border: 1px solid #0B3251;
    position: absolute;
}
.horizontal-progress-scale li>span{
    position: absolute;
    display: block;
    width: 60px;
    top: 20px;
    left: -30px;
    text-align: center;
}
