/*write by kangpeng*/

.datebox {
    border-radius: 20px;
    background-color: #fff;
}

span.datebox input[type='text'] {
    font-size: 16px;
    color: #2882C0;
    font-family: 微软雅黑;
    padding-top: 0px !important;
    text-align: center;
}

/*******************************************/

.dateTimeMove-container #play:hover, .dateTimeMove-container #pre:hover, .dateTimeMove-container #nex:hover {
    cursor: pointer;
}

.dateTimeMove-container span {
    font-family: 微软雅黑;
    color: #ffffff;
}

.dateTimeMove-container #mm {
    position: relative;
    float: left;
    text-align: center;
    padding-top: 12px;
}

.dateTimeMove-container #play {
    position: relative;
    float: left;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.dateTimeMove-container #play div {
    display: block;
    margin: auto;
    width: 38px;
    height: 39px;
    background: url(../icons/bf.png) no-repeat;
}

.dateTimeMove-container #play span {
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #0E2E47;
    display: block;
    margin: auto;
    width: 50%;
}

.dateTimeMove-container #nex {
    position: relative;
    float: left;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}

.dateTimeMove-container #nex div {
    display: block;
    margin: auto;
    width: 38px;
    height: 39px;
    background: url(../icons/xyg.png) no-repeat;
}

.dateTimeMove-container #nex span {
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #0E2E47;
    display: block;
    margin: auto;
    width: 50%;
}

.dateTimeMove-container #pre {
    position: relative;
    float: left;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}

.dateTimeMove-container #pre div {
    display: block;
    margin: auto;
    width: 38px;
    height: 39px;
    background: url(../icons/syg.png) no-repeat;
}

.dateTimeMove-container #pre span {
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #0E2E47;
    display: block;
    margin: auto;
    width: 50%;
}

.progress-container {
    position: relative;
    float: left;
    text-align: center;
    margin-left: 10px;
}

.progress-bar {
    height: 10px;
    border-radius: 5px;
    position: absolute;
    background-color: #0B2F4F;
    top: 20px;
}

.progress-scale {
    position: absolute;
    list-style: none;
    top: 25px;
    padding: 0px;
    width: 100%;
    margin: 0;
}

.progress-scale li {
    height: 10px;
    border: 1px solid #0B3251;
    position: absolute;
}

.progress-time {
    position: absolute;
    list-style: none;
    top: 50px;
    padding: 0px;
    width: 100%;
    margin: 0;
}

.progress-time li {
    font-family: '微软雅黑';
    color: #ffffff;
    background-color: #0B3251;
    border-radius: 20px;
    font-size: 12px;
    padding: 2px;
    width: 40px;
    text-align: center;
    position: absolute;
}

.progress-pointer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    border: none;
    background-color: #ffffff;
}